#display {
    margin: auto;
    height: 100px;
    width: 412px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #E3E3E3;
}

#math-log {
    font-size: 25px;
}

#output {
    font-size: 50px;
}

#number-grid {
    margin: auto;
    width: 416px;
    font-size: 0px;
}

#button-backspace {
    width: 204px;
}

button {
    width: 100px;
    height: 100px;
    font-size: xx-large;
    margin: 2px
}


